.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
}

.character-graph {
    width: calc(33.33% - 10px);
}